<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <display-name>crm</display-name>

<!--  过滤器-->
    <!-- 登录验证过滤器 -->
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.chuanqihou.crm.web.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>*.do</url-pattern>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <!-- 字符集过滤 -->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.chuanqihou.crm.web.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>

<!--    监听器-->
    <listener>
        <listener-class>com.chuanqihou.crm.web.listener.SysInitListener</listener-class>
    </listener>

<!--  欢迎页-->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

<!--  用户Servlet-->
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.chuanqihou.crm.settings.web.controller.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <!--  登录验证  -->
        <url-pattern>/setting/user/login.do</url-pattern>
        <!--    修改密码    -->
        <url-pattern>/setting/user/updatePwd.do</url-pattern>
    </servlet-mapping>

<!--  市场活动Servlet-->
    <servlet>
        <servlet-name>ActivityController</servlet-name>
        <servlet-class>com.chuanqihou.crm.workbench.web.controller.ActivityServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ActivityController</servlet-name>
        <!--  查询所有用户信息  -->
        <url-pattern>/workbench/activity/getUserList.do</url-pattern>
        <!--  添加市场活动信息  -->
        <url-pattern>/workbench/activity/save.do</url-pattern>
        <!--  根据条件查询市场活动信息列表     -->
        <url-pattern>/workbench/activity/pageList.do</url-pattern>
        <!--  根据选中条件删除市场活动信息      -->
        <url-pattern>/workbench/activity/delete.do</url-pattern>
        <!--根据市场活动Id查询市场活动信息；查询所有用户信息；目的：获取修改市场活动信息模板页面中的数据-->
        <url-pattern>/workbench/activity/getUserListAndActivity.do</url-pattern>
        <!--    点击更新按钮后将更新数据添加到数据库中，条件根据市场活动信息Id    -->
        <url-pattern>/workbench/activity/update.do</url-pattern>
        <!--    展示市场活动的详细信息（仅市场活动信息）    -->
        <url-pattern>/workbench/activity/detail.do</url-pattern>
        <!--    展示市场活动的备注信息    -->
        <url-pattern>/workbench/activity/getRemarkListById.do</url-pattern>
        <!--    根据Id删除备注信息    -->
        <url-pattern>/workbench/activity/deleteRemark.do</url-pattern>
        <!--    新建和保存备注信息    -->
        <url-pattern>/workbench/activity/saveRemark.do</url-pattern>
        <!--    根据Id更新备注信息    -->
        <url-pattern>/workbench/activity/updateRemark.do</url-pattern>

    </servlet-mapping>

<!--    线索Servlet-->
    <servlet>
        <servlet-name>ClueServlet</servlet-name>
        <servlet-class>com.chuanqihou.crm.workbench.web.controller.ClueServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClueServlet</servlet-name>
        <!--    点击创建线索按钮加载用户信息展示在下拉框的Servlet    -->
        <url-pattern>/workbench/clue/getUserList.do</url-pattern>
        <!--    保存（插入）线索信息    -->
        <url-pattern>/workbench/clue/save.do</url-pattern>
        <!--        根据条件获取线索信息列表并分页-->
        <url-pattern>/workbench/clue/pageList.do</url-pattern>
        <!--        根据线索Id更新线索信息    -->
        <url-pattern>/workbench/clue/update.do</url-pattern>
        <!--    根据Id删除线索信息（可批量删除）    -->
        <url-pattern>/workbench/clue/delete.do</url-pattern>
        <!--     查询所有用户信息、以及一条线索信息   -->
        <url-pattern>/workbench/clue/getUserListAndClue.do</url-pattern>
        <!--根据线索Id查询线索信息并将其添加至共享请求作用域中，通过请求转发跳转到线索详细页-->
        <url-pattern>/workbench/clue/detail.do</url-pattern>
        <!--获取市场活动信息（除线索已关联的）-->
        <url-pattern>/workbench/clue/getActivityListByClueId.do</url-pattern>
        <!--取消线索与某一条市场活动信息的关联-->
        <url-pattern>/workbench/clue/unbund.do</url-pattern>
        <!--    点击关联按钮    -->
        <url-pattern>/workbench/clue/bund.do</url-pattern>
        <!--        获取该条线索的所有备注信息-->
        <url-pattern>/workbench/clue/getRemarkListById.do</url-pattern>
        <!--        新建一条备注信息-->
        <url-pattern>/workbench/clue/saveRemark.do</url-pattern>
        <!--         获取市场活动信息（除线索已关联的）-->
        <url-pattern>/workbench/clue/getActivityListByNameByClueId.do</url-pattern>
        <!--     获取线索备注信息   -->
        <url-pattern>/workbench/clue/getActivityListByName.do</url-pattern>
        <!--        将线索转换成客户，联系人等-->
        <url-pattern>/workbench/clue/convert.do</url-pattern>
        <!--        删除线索备注信息-->
        <url-pattern>/workbench/clue/deleteRemark.do</url-pattern>
        <!--      更新线索备注信息  -->
        <url-pattern>/workbench/clue/updateRemark.do</url-pattern>

    </servlet-mapping>

<!--    客户Servlet-->
    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>com.chuanqihou.crm.workbench.web.controller.CustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/workbench/customer/pageList.do</url-pattern>
    </servlet-mapping>

</web-app>















